@import '../../../styles/mixins';

.clientDataManager {
  .clientForm {
    @include container;
    font-family: 'Source Sans Pro', sans-serif;

    .formControl {
      display: flex;
      margin: 0 0 0.7rem 0;
      width: 100%;
      align-items: center;

      label {
        flex: 1 1 20%;
        text-align: right;
        padding: 0 0.3rem;
        margin: 0;
      }

      input {
        display: block;
        text-align: left;
        width: 100%;
        flex: 1 1 80%;
        padding: 0.3rem;
        border: 1px solid var(--c-grey-1);
        box-shadow: none;
        outline: none;
        transition: border-color 0.3s ease;

        &:valid {
          border-color: var(--c-green);
        }
      }
    }

    .formCheckboxControl {
      text-align: right;

      label {
        padding: 0 0.3rem;
      }

      input {
        box-shadow: none;
      }
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
}
