@import '../../../styles/variables';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .message {
    font-size: 1.2rem;
    display: inline-block;
    padding: 0 0 0 15px;
  }
}

@media (max-width: $breakpoint-xs) {
  .wrapper {
    flex-flow: column wrap;

    .message {
      text-align: center;
      padding: 10px 0 0;
    }
  }
}
