@import '../../../styles/mixins';

.paginationWrapper {
  margin: 0 0 0.7rem;

  ul {
    display: flex;
    flex-flow: row;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: flex-end;

    li {
      list-style: none;
      width: 32px;
      height: 32px;
      margin: 0 0.1rem;

      a {
        @include button;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.active {
  a {
    color: var(--c-primary) !important;

    &:hover {
      color: var(--c-white) !important;
    }
  }
}
