@import '../../../styles/mixins';

.seatsManager {
  .seatsChooser {
    @include container;

    .seatsCanvasWrapper {
      max-width: 500px;
      margin: 0 auto;
      border: 1px solid var(--c-grey-1);

      .seatsCanvas {
        display: block;
        margin: 0 auto;
        touch-action: pan-y;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 1.74219);
        transform-origin: 50% 50% 0;
        cursor: pointer;
        transition: none 0s ease 0s;
        width: 100%;
      }
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
}
