@import '../../styles/mixins';

.notFoundMessage {
  font-size: 1.1rem;
}

.newsDetail {
  .photoAndCategoryWrapper {
    margin: 0 0 0.7rem 0;
    position: relative;

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    .categoryWrapper {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      .category {
        background: var(--c-primary);
        color: var(--c-white);
        padding: 0.3rem;
        margin: 0.5rem;
        display: inline-flex;
        font-size: 0.8rem;
      }
    }
  }

  .content {
    @include container;
    font-family: 'Source Sans Pro', serif;
    font-size: 1.1rem;
  }

  .author {
    display: block;
    margin-bottom: 0.7rem;
  }
}
