@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/animations';

.reservationWrapper {
  display: flex;
  flex-flow: row wrap;

  .content {
    flex: 1 1 70%;
    padding: 0 0.7rem 0.7rem 0;
  }

  .summary {
    flex: 1 1 30%;

    .summaryButton {
      display: none;

      .angle {
        display: none;

        &:before {
          @include angleIcon();
          content: '';
          transform: rotate(135deg);
          margin: 0 0 0 5px;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .reservationWrapper {
    --slideOffset: 50vw;

    .content {
      flex: 1 1 100%;
      padding-right: 0;
    }

    .summary {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 6;
      background: var(--c-white);
      flex: 1 1 100%;
      width: 50vw;
      height: 100vh;
      border-left: 1px solid var(--c-grey-1);
      transform: translateX(var(--slideOffset));

      .summaryButton {
        display: inline-block;
        position: absolute;
        bottom: 20px;
        left: -39px;
        border-right: none;
        padding: 10px;

        .angle {
          display: flex;
        }
      }

      &.showed {
        animation: slideLeft 0.3s ease forwards;

        .summaryButton {
          left: auto;
          right: 0;

          .angle:before {
            transform: rotate(-45deg);
            margin: 0 5px 0 0;
          }
        }
      }

      &.hidden {
        animation: slideRight 0.3s ease forwards;
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .reservationWrapper {
    --slideOffset: 100vw;

    .summary {
      width: 100vw;
      transform: translateX(100vw);
      border: none;

      .summaryButton {
        bottom: 50px;
      }
    }
  }
}
