@import '../../../styles/variables';

.header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--c-white);
  padding: 0.7rem;
  border-bottom: 1px solid var(--c-grey-1);

  .homeLink {
    color: var(--c-grey-4);
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 300;

    svg {
      color: var(--c-primary);
      margin-right: 10px;
    }
  }
}

.socialLink {
  display: inline-flex;
  align-items: center;
  margin: 0 10px 0 0;
  text-decoration: none;
  background: var(--c-white);

  .label {
    display: inline-flex;
    padding: 3px 10px;
    font-size: 0.9rem;
    font-family: 'Source Sans Pro', sans-serif;
    transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
    color: var(--c-grey-4);
    border: 1px solid var(--c-grey-1);
    border-right: none;
  }

  .icon {
    display: inline-flex;
  }

  &:last-of-type {
    margin: 0;
  }
}

.socialLinkFacebook {
  composes: socialLink;

  .icon {
    color: var(--c-white);
    background: #404e96;
    padding: 5px 11px 5px 9px;
    font-size: 15px;
  }

  &:active {
    .label {
      background-color: #3b4789;
      border-color: #3b4789;
    }

    .icon {
      background-color: #3b4789;
    }
  }
}

.socialLinkInstagram {
  composes: socialLink;

  .icon {
    font-size: 15px;
    color: var(--c-white);
    background: #f09433;
    background: linear-gradient(270deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    padding: 5px 8px 5px 7px;
  }

  &:active {
    .label {
      background-color: #bc1888;
      border-color: #bc1888;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .socialLink {
    .label {
      display: none;
    }
  }

  .socialLinkFacebook,
  .socialLinkInstagram {
    .icon {
      width: 27px;
      height: 27px;
      padding: 0;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (any-hover: hover) {
  .header {
    .homeLink:hover {
      color: var(--c-grey-4);
      text-decoration: none;
    }
  }

  .socialLinkFacebook:hover {
    .label {
      color: var(--c-white);
      background-color: #404e96;
      border-color: #404e96;
    }
  }

  .socialLinkInstagram:hover {
    .label {
      color: var(--c-white);
      border-color: #bc1888;
      background: #bc1888;
    }
  }
}
