@import '../../../styles/mixins';

.newsItem {
  @include container;
  list-style: none;
  overflow: hidden;
  position: relative;
  padding: 0;

  .categoryWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    .category {
      background: var(--c-primary);
      color: var(--c-white);
      padding: 0.3rem;
      margin: 0.5rem;
      display: inline-flex;
      font-size: 0.8rem;
    }
  }

  .photoWrapper {
    display: block;
    overflow: hidden;
    margin: 0 0 0.7rem;

    .photo {
      width: 100%;
      padding-bottom: 56.25%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      transition: transform 0.3s ease;
    }
  }

  .title {
    display: block;
    padding: 0 0.7rem;
    margin: 0 0 0.7rem 0;
    color: var(--c-grey-4);
    transition: color 0.3s ease;
    font-size: 1rem;
    max-height: calc(1rem * 1.2 * 3);
    overflow: hidden;
  }
}

@media (any-hover: hover) {
  .newsItem {
    .title:hover {
      color: var(--c-primary);
    }

    &:hover {
      .photoWrapper {
        .photo {
          transform: scale(1.1);
        }
      }
    }
  }
}
