@import '../../styles/variables';
@import '../../styles/mixins';

.filters {
  display: flex;
  margin: 0 0 0.7rem 0;

  .placeFilter {
    flex: 1 0 30%;
    margin: 0 10px 0 0;
  }

  .dateFilter {
    display: flex;
    flex: 0 1 70%;
  }
}

.list {
  margin: 0;
  padding: 0;
}

@media (max-width: $breakpoint-lg) {
  .filters {
    .placeFilter {
      display: flex;
    }

    .dateFilter {
      overflow: auto;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .filters {
    .placeFilter {
      flex-basis: 40%;
    }

    .dateFilter {
      flex-basis: 60%;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .filters {
    flex-flow: column nowrap;

    .placeFilter {
      margin: 0 0 10px 0;
    }
  }
}
