@import '../../styles/variables';
@import '../../styles/mixins';

.eventDetail {
  .trailerWrapper {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-bottom: 0.7rem;

    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}

.notFoundMessage {
  font-size: 1.1rem;
}
