@keyframes slideLeft {
  from {
    transform: translateX(var(--slideOffset));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(var(--slideOffset));
  }
}
