@mixin angleIcon($thick: 2px, $size: 5px, $borderColor: var(--c-grey-2)) {
  border: solid $borderColor;
  border-width: 0 $thick $thick 0;
  display: inline-block;
  padding: $size;
  cursor: pointer;
}

@mixin button() {
  display: flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--c-grey-1);
  outline: none;
  background: var(--c-white);
  color: var(--c-grey-4);
  padding: 6px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: border-color 0.3s ease, background 0.3s ease, color 0.3s ease;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: none;
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.7;
  }

  @media (any-hover: hover) {
    &:hover {
      background: var(--c-primary);
      border-color: var(--c-primary);
      color: var(--c-white);
    }
  }
}

@mixin title() {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 0.6rem 0;
  color: var(--c-grey-4);

  a {
    color: var(--c-grey-4);
    transition: color 0.3s ease;

    @media (any-hover: hover) {
      &:hover {
        color: var(--c-primary);
      }
    }
  }
}

@mixin container($withFlex: false) {
  margin-bottom: 0.7rem;
  background: var(--c-white);
  border: 1px solid var(--c-grey-1);
  padding: 0.7rem;

  @if $withFlex {
    display: flex;
    flex-flow: row wrap;
  }
}
