@import '../../styles/mixins';
@import '../../styles/variables';

.eventSlideshow {
  background: var(--c-grey-3);
  padding: 1.7rem 0;
  box-shadow: 1000px 0 var(--c-grey-3), -1000px 0 var(--c-grey-3);
  color: var(--c-grey-1);

  .sectionTitle {
    @include title;
    color: var(--c-grey-1);
  }

  .swiperWrapper {
    position: relative;

    .event {
      .posterWrapper {
        display: block;
        margin: 0 0 0.7rem 0;

        img {
          display: block;
          max-width: 100%;
          margin: 0 auto;
        }
      }

      .title {
        display: block;
        text-align: center;
        margin: 0;
        color: var(--c-grey-1);
      }
    }
  }
}

.prevButton,
.nextButton {
  -webkit-appearance: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
  z-index: 2;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;

  &:focus {
    outline: none;
  }

  &[aria-disabled='true'] {
    display: none;
  }
}

.nextButton {
  right: -2rem;
  left: auto;
}

.angleRight {
  @include angleIcon(2px, 13px);
  transform: rotate(-45deg);
  color: var(--c-white);
}

.angleLeft {
  @include angleIcon(2px, 13px);
  transform: rotate(135deg);
  color: var(--c-white);
}

@media (max-width: $breakpoint-lg) {
  .nextButton {
    right: 0;
  }

  .prevButton {
    left: 0;
  }
}

@media (max-width: $breakpoint-md) {
  .eventSlideshow {
    box-shadow: 200px 0 #35393c, -200px 0 #35393c;

    .swiperWrapper {
      width: 90%;
      margin: 0 auto;
    }
  }
}

@media (max-width: $breakpoint-xs) {
  .eventSlideshow {
    .swiperWrapper {
      width: 80%;
    }
  }

  .nextButton {
    right: -2rem;
  }

  .prevButton {
    left: -2rem;
  }
}
